* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left {
  flex: 0.9;
}

.app__header {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__dropdown {
  background-color: white !important;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__graphTitle {
  margin: 20px 0;
  padding: 5px;
}

.personal__name {
  color: lightgreen;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
